<!-- footer.component.html -->
<footer class=" text-white py-8 bg-gray-200 rounded mt-60">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-between">
 
  
        <!-- Newsletter -->
        <div class="w-full md:w-full">
          <h4 class="text-xl font-bold mb-4 text-gray-800">Get The Fresh Cart App</h4>
          <p class="text-gray-600 mb-4">We will send you a link , open it on your phone and dawnlod the app.</p>
          <form action="#" method="POST" class="flex justify-between">
            <input type="email" placeholder="Your email address" class="w-full px-3 py-2 mb-2 text-gray-900 rounded focus:outline-none focus:ring-2 focus:text-main" required>
            <button type="submit" class="w-1/4 mb-2 ms-4 px-4 py-2 bg-main hover:bg-blue-700 text-white rounded">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between space-x-4 mt-4">
        <div class=" flex items-center space-x-4 mt-4">
            <p class="font-bold text-gray-800">Payment Partners</p>
            <img src="../../../../assets/images/fotter/1933702_charge_credit card_debit_payment_visa_icon.png" alt="Visa" class="w-12 h-12 object-contain">
            <img src="../../../../assets/images/fotter/1933703_charge_credit card_debit_mastercard_payment_icon.png" alt="MasterCard" class="w-12 h-12 object-contain">
            <img src="../../../../assets/images/fotter/197838_amazon_card_icon.png" alt="Amazon" class="w-12 h-12 object-contain">
            <img src="../../../../assets/images/fotter/2416651_online payment_online transaction_payment method_paypal_icon.png" alt="PayPal" class="w-12 h-12 object-contain">
        </div>
<div class="flex items-center space-x-4 mt-4">
<p  class="font-bold text-gray-800">Get Deliverd With Freshcart</p>
<img src="../../../../assets/images/fotter/4202002_apps_google_googleplay_play_logo_icon.png" alt="Visa" class="w-8 h-12 object-contain">
<img src="../../../../assets/images/fotter/2553039_app_apple_appstore_logo_device_icon.png" alt="MasterCard" class="w-8 h-12 object-contain me-4">
</div>
      </div>
      

  </footer>
  