
    





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../products/products.component.scss"></head>
<body>
    
<div class="container">
    


    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
@for(product of productList;track $index){
    <div class=" py-16 product">
        <div class="container mx-auto px-4">
                <div class="bg-white rounded-lg shadow-lg p-8">
                    <div [routerLink]="'/ProductDetails/'+product.id">
                        <div class="relative overflow-hidden">
                            <img class="object-cover w-full h-full"[src]="product.imageCover" alt="Product">
                   
                          
                        </div>
                        <div class="flex justify-between">
                            <h4 class=" font-bold text-main mt-4">{{product.category.name}}</h4>
                            <button
                            class=" flex gap-2 items-center  text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">

                            <i class="fa-regular fa-heart"></i>
                        </button>                        </div>
                        <h3 class="text-xl font-bold text-gray-900 mt-4">{{product.title}}</h3>
                        <p class="text-gray-500 text-sm mt-2">{{product.description.split('').slice(0,200).join('')}}</p>
                        <div class="flex items-center justify-between mt-4">
                            <span class="text-gray-900 font-bold text-lg">{{product.price}} $</span>
                            <span
                                class="text-gray-900 font-bold text-lg">{{product.ratingsQuantity}} <i class="fa-solid fa-star text-yellow-400"></i>
                            </span>
                        </div>
                    </div>
                 
                    <div class="flex items-center justify-end mt-4">

                    <button class="bg-main text-white py-2 px-4 rounded font-bold w-full  btn "> <i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
                </div>

                </div>
               
                </div>
            </div>
    
    

}@empty{
    <div class="flex justify-center items-center h-screen">
        <span class="loader"></span>
            </div>
}
    </div>

</div>
</body>
</html>

