<nav class="bg-white border-gray-200 py-2.5 mb-4 ">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl ms-5">
        
        <a href="#" class="flex flex-1 items-stretch justify-start">
            <img src="../../../../assets/images/freshcart-logo.svg" class="h-6 mr-3 sm:h-9 mt-3 w-98 ms-6" alt="Landwind Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-green"></span>
        </a>
        <div class="relative flex h-16 justify-between">
            <div class="hidden mt-2 mr-4 sm:inline-block">
                <span></span>
            </div>

        </div>
        <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            @if (isLogin) {
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 ms-6 ">
                    <li>
                        <a routerLink="/home" routerLinkActive="bg-main text-white" 
                            class="block py-2 px-4 pl-3 pr-4 text-green bg-green-700 rounded lg:bg-transparent lg:text-green-700 lg:p-0 dark:text-green"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a routerLink="/brands" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">Brands</a>
                    </li>
                    <li>
                        <a routerLink="/categories" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">Categories</a>
                    </li>
                    <li>
                        <a routerLink="/products" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">Products</a>
                    </li>
                    <li>
                        <a routerLink="/cart" routerLinkActive="bg-main text-white" 
                        
                        class="  py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700"> <i class="fa-solid fa-cart-shopping"></i> Cart</a>

                    </li>
                    <li>
                        <a routerLink="/wishlist" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700"> <i class="fa-regular fa-heart"></i>  Wishlist</a>
                    </li>
                </ul>
            }

            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 ms-4">
                @if (!isLogin) {
                    <li>
                        <a routerLink="/login" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">LogIN</a>
                    </li>
                    <li>
                        <a  routerLink="/register" routerLinkActive="bg-main text-white" 
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">Register</a>
                    </li>
                }
         
                @if (isLogin) {
                    <li>
                        <a href="#"
                        (click)="logOut()"
                            class="block py-2  px-4 pl-3 pr-4 text-gray-700 border-b rounded border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-green dark:hover:bg-gray-700 dark:hover:text-green lg:dark:hover:bg-transparent dark:border-gray-700">LogOut</a>
                    </li>
                }
          

            </ul>
            <ul class="flex items-center justify-end space-x-2 mt-4">
                <!-- Github -->
                <li>
                    <a href="https://github.com" target="_blank" class="flex items-center justify-center p-2 border rounded-full border-gray-300 hover:border-gray-500 transition-colors duration-300">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                
                <!-- Facebook -->
                <li>
                    <a href="https://facebook.com" target="_blank" class="flex items-center justify-center p-2 border rounded-full border-gray-300 hover:border-gray-500 transition-colors duration-300">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                
                <!-- Instagram -->
                <li>
                    <a href="https://instagram.com" target="_blank" class="flex items-center justify-center p-2 border rounded-full border-gray-300 hover:border-gray-500 transition-colors duration-300">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                
         
            </ul>
            
            
        </div>
    </div>
    
</nav>

<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
